report.aux
report.out
report.lot
report.lof
report.log
report.nav
report.toc
report.fls
report.fmt
report.synctex.gz
report.bbl
report.blg
report.nav
report.snm
report.mtc
report.mtc1
report.mtc2
report.mtc3
report.mtc4
report.mtc5
report.mtc6
report.mtc7
report.mtc8
report.mtc9
report.mtc10
report.mtc11
report.mtc12
